<% @bookings_as_owner.each do |booking| %>
  <div class="application-card col-9">
    <div class="application-card-info">
      <%= booking.user.first_name %> <%= booking.user.last_name %>

        <% if booking.user.photo.attached? %>
          <%= cl_image_tag current_user.photo.key, class: "avatar" %>
        <% else %>
          <%= image_tag "placeholder.png", class: "avatar" %>
        <% end %>

      <%= simple_form_for booking, html: { class: "booking-button-inline form-inline" } do |f| %>
        <%= f.input :status, input_html: { value: "confirmed" }, as: :hidden %>
        <%= f.button :submit, "Confirm", disabled: booking.status != 'pending', class: "btn btn-sm btn-success" %>
      <% end %>
      <%= simple_form_for booking, html: { class: "booking-button-inline" } do |f|%>
          <%= f.input :status, input_html: { value: "declined" }, as: :hidden %>
          <%= f.button :submit, "Decline", disabled: booking.status != 'pending', class: "btn btn-sm btn-warning" %>
      <% end %>
    </div>
  </div>
<% end %>
