<div class="event-card">
  <img src="https://placehold.co/600x400" alt="Event Image 1" class="event-image">
  <div class="event-details">
    <h5 class="event-name"><%= event.title %></h5>
    <p class="event-location">Location: <%= event.location %></p>
    <p class="event-date">Date: <%= event.date.strftime('%m/%d/%Y') %></p>
    <p class="event-category">Category: <%= event.category %></p>
    <%= link_to "View Event", new_user_registration_path, class: "btn btn-warning" %>
  </div>
</div>
