<div class="event-card-long">
      <% if event.photo.attached? %>
        <%= cl_image_tag event.photo.key, height: 200, width: 200, crop: :fill, class: "event-card-long-image" %>
      <% else %>
        <img src="https://placehold.co/600x400" alt="Event Image 1" class="event-card-long-image">
      <% end %>
  <div class="event-card-long-right">
    <h5 class="event-card-long-name"><%= event.title %></h5>
    <p class="event-card-long-location"><strong>Location:</strong> <%= event.location %></p>
    <p class="event-card-long-date"><strong>Date:</strong> <%= event.date.strftime('%m/%d/%Y') %></p>
    <p class="event-card-long-category"><strong>Category:</strong> <%= event.category %></p>
    <p class="text-center mt-3"><%= link_to "View Confirmed Event", event_path(event), class: "btn btn-primary" %></p>
  </div>
</div>
