<div class="details col-9">
  <div class="left-side-box d-block">
    <h4 id="title"><%= @event.title %></h4>
    <p><%= @event.location %></p>
    <p><%= @event.date.strftime('%m/%d/%Y') %></p>
  </div>

  <div class="right-side-box flex-grow-1">

    <div class="event-btn">
      <% if @event.user_id != current_user.id  %>
        <% if Booking.where(user_id: current_user.id, event_id: @event.id).empty? %>
          <%= link_to "Apply for this event", event_bookings_path(@event), data: { turbo_method: "post" }, class: "btn btn-warning" %>
        <% else %>
          <%= link_to "You applied for this event", event_bookings_path(@event), data: { turbo_method: "post" }, class: "btn btn-warning disabled" %>
        <% end %>
      <% else %>
        <%= link_to "You created this event", event_bookings_path(@event), data: { turbo_method: "post" }, class: "btn btn-warning disabled" %>
      <% end %>
    </div>

    <div class="event-description">
      <p><%= @event.description %></p>
    </div>

    <div class="event-price">
      <p><strong>Reward: <%= @event.compensation %> €</strong></p>
    </div>

  </div>
</div>
