<div class="details col-9">
  <div class="left-side-box d-block">
    <h4 id="title"><%= @event.title %></h4>
    <p><%= @event.location %></p>
    <p><%= @event.date.strftime('%m/%d/%Y') %></p>
  </div>
    <div class="description">
      <p><%= @event.description %></p>
      <p id="price"><strong>€<%= @event.compensation %></strong></p>
      </div>
  </div>
