<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card bg-light shadow">
        <div class="card-body">
          <h1 class="card-title text-center mb-4">Create Event</h1>

          <%= simple_form_for(@event) do |f| %>
            <%= f.error_notification %>

            <div class="mb-3 form-inputs">
              <%= f.input :title,
                          required: true %>
            </div>
            <div class="mb-3 form-inputs">
              <%= f.input :category,
                          collection: @categories,
                          prompt: "Select a category",
                          required: true,
                          autofocus: true %>
            </div>
            <div class="mb-3 form-inputs">
              <%= f.input :location,
                            required: true,
                            autofocus: true %>
            </div>
            <div class="mb-3 form-inputs">
              <%= f.input :description,
                          required: true,
                          autofocus: true %>
            </div>
            <div class="mb-3 form-inputs">
              <%= f.input :compensation,
                          required: true,
                          autofocus: true %>
            </div>
            <div class="mb-3 form-inputs">
              <%= f.input :date,
                          required: true %>
            </div>
            <div class="mb-3 form-inputs">
              <%= f.input :photo, as: :file %>
            </div>
            <div class="text-center form-actions">
              <%= f.button :submit, "Create Event", class: "btn btn-primary btn-lg" %>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
