<%# render "shared/title_bar", event: @event%>

 <div class="d-flex justify-content-center mt-3 mx-5">
    <h2><%= @event.title %></h2>
  </div>

<div class="container w-75">

  <div class="main-image d-flex justify-content-center align-items-center col-12">
    <img style="width: 100%" src="https://placehold.co/900x600" alt="main image">
  </div>

  <div class="event-info d-flex">
    <%= render "shared/event_details" %>
    <%= render "shared/event_host_bio" %>
  </div>
  <% unless @bookings_as_owner.empty? %>
    <% @bookings_as_owner.each do |booking| %>
        <%= simple_form_for booking, html: { class: "booking-button-inline form-inline" } do |f|%>
        <%= f.input :status, input_html: { value: "confirmed" }, as: :hidden %>
        <%= f.button :submit, "Confirm", disabled: booking.status != 'pending', class: "btn btn-sm btn-success" %>
      <% end %>
      <%= simple_form_for booking, html: { class: "booking-button-inline" } do |f|%>
        <%= f.input :status, input_html: { value: "declined" }, as: :hidden %>
        <%= f.button :submit, "Decline", disabled: booking.status != 'pending', class: "btn btn-sm btn-warning" %>
      <% end %>
    <% end %>
  <% end %>
</div>
