<div class="container">
  <h2>Hello <%= current_user.first_name.capitalize %>,<br>welcome to your dashboard</h2>
</div>

<hr>

<div class="container">
  <%# <h2>My +1 Events</h2> %>
  <h2>I will be a +1 in the following events:</h2>

  <div class="row">
    <div class="col">
      <h4>Waiting For Owner Approval</h4>
      <div class="event-cards">
        <% if @approved_events %>
          <% @applied_events.each do |event| %>
            <div class="border border-warning">
              <%= render "shared/event_card", event: event %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col">
      <h4>Events Attending</h4>
      <div class="event-cards">
        <% if @approved_events %>
          <% @approved_events.each do |event| %>
              <%= render "shared/dashboard_attending_card", event: event %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="container">

  <h2>My created Events</h2>

  <div class="row">
    <div class="col">
      <%# <h4>Waiting For Approval</h4> %>
      <h4>To do: Review Applications</h4>
      <div class="event-cards">
        <% if @my_pending_events %>
          <% @my_pending_events.each do |booking| %>
            <div class="border border-danger">
              <%= render "shared/event_card", event: booking.event %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col">
      <h4>Confirmed +1</h4>
      <div class="event-cards">
        <% if @my_approved_events %>
          <% @my_approved_events.each do |booking| %>
              <%= render "shared/event_card", event: booking.event %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
